HELO:<localhost>
FROM:<no-reply@github.ziliscite.com>
TO:<ziliscite@gmail.com>

MIME-Version: 1.0
From: <no-reply@github.ziliscite.com>
To: <ziliscite@gmail.com>
Subject: my
Content-Type: multipart/alternative;
 boundary=27e5dddb6cbc978fc30ff5f8f87516b8fbdfbbd2491e9d246186c0b5d5c3
Date: Sat, 01 Feb 2025 13:29:37 +0000

--27e5dddb6cbc978fc30ff5f8f87516b8fbdfbbd2491e9d246186c0b5d5c3
Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain; charset=UTF-8



You are gey, dawg


--27e5dddb6cbc978fc30ff5f8f87516b8fbdfbbd2491e9d246186c0b5d5c3
Content-Transfer-Encoding: quoted-printable
Content-Type: text/html; charset=UTF-8

<!DOCTYPE html><html lang=3D"en"><head>
        <meta name=3D"viewport" content=3D"width=3Ddevice-width"/>
        <meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3DU=
TF-8"/>
        <title></title>
    </head>

    <body>
        <p>You are gey, dawg</p>
   =20

</body></html>
--27e5dddb6cbc978fc30ff5f8f87516b8fbdfbbd2491e9d246186c0b5d5c3--